.navbar{
    text-decoration: wavy;
    background-color: black;
    color: blanchedalmond;
}
.h-100 {
    float: left;
}
.searchText {
    padding: 1rem;
}
.adjust{
    display: flex;
    justify-content: space-evenly;
}